@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900;
  }

  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-pane {
  z-index: 400;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1000;
}
